.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 15px;
}

.card-img {
  display: flex;
  justify-content: center;

}

.cards:hover {
  border: 3px solid rgb(182, 77, 69);
  border-radius: 25px;
}


.card-img img {
  height: 300px;
}